<div class="word_manager_container  ">
    <i id="close_word_manager" class="common_close_btn hover fas fa-times"></i>

    <div class="word_manager_inner" >
        <h2>Add New Word</h2>
        <input type="text" name="word" id="new_word_field" placeholder="Write Word Name">
        <input type="text" name="word" placeholder="Write Word Definition" id="new_word_meaning_field">
        <button class="hover" id="new_word_add_btn" >Add It</button>
    </div>
</div>