{{>header}}


<div class="login_container">

    <a href="/" class="back_to_home">
    <h5>Back To Home</h5>
    </a>

<form action="" id="sign_in_form" >
<h1>Sign In Here 🔑</h1>
    <input type="text" name="name" placeholder="Enter User Name" id="user_name_field">
    <input type="password" name="password" placeholder="Enter Password" id="password_field">
    <input type="submit" value="Sign In" class="hover" id="sign_in_submit_btn">
</form>

</div>





    
</body>
<script src="./login.js"></script>
